bs4
requests
yfinance
datetime
pandas==2.2.3
plotly
#psycopg2       # postgres module
sqlalchemy
streamlit
ta-lib-bin    # TA-lib does not install, so someone said installed this compiled version, this pip install worked. https://github.com/minggnim/ta-lib. we can then import talib as ta
loguru
